.movie-card {
  position: relative;
  padding: 24px;
  display: flex;
  gap: 16px;
  background-color: #fff;
  border-radius: 10px;
  max-width: 600px;
  cursor: pointer;

  p {
    margin: 0;
  }
}

.movie-image {
  width: 120px;
  // aspect-ratio: 2 / 3;
  aspect-ratio: 119 / 170;
}

.movie-card-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-card-title {
  margin: 0;
  margin-right: 20px;
}

.movie-rating {
  display: flex;
  align-items: center;
  gap: 7px;
}

.movie-star {
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
}

.movie-star:hover {
  transform: scale(1.07);
}

.movie-card-bg-image {
  display: none;
}

@media screen and (width < 500px) {
  .movie-card {
    padding: 16px;
    gap: 16px;
    overflow: hidden;
  }

  .movie-image {
    display: none;
  }

  .movie-card-title {
    font-size: 20px;
    margin-right: 20px;
  }

  .movie-card-bg-image {
    display: flex;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.3;
  }
}
