.rated-movies-container {
  max-width: calc(980px + 16px + 16px);
  padding: 16px;
  padding-top: 40px;
}

.favorites-container {
  padding-top: 24px;
  padding-bottom: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.search-input input {
  border: 1px solid #eaebed;
}

.pie-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
}

@media screen and (width < 1200px) {
  .favorites-container {
    justify-content: center;
    grid-template-columns: repeat(1, minmax(min-content, auto));
  }
}

@media screen and (width < 500px) {
  .favorites-empty-image {
    width: 300px;
  }
}
