.pie-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
  transition: 0.2s;
}

.bar-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s;
}

.pie-title:hover,
.bar-title:hover {
  color: red;
  cursor: pointer;
  transition: 0.3s;
}
