.tv-info-card {
  position: relative;
  padding: 24px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.tv-info-title {
  margin-right: 30px;
}

.tv-info-details {
  display: grid;
  grid-template-columns: 140px 1fr;
  gap: 7px;
}

.tv-info-favorite {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.tv-info-trailer {
  border: 0px;
  border-radius: 9px;
}

.tv-info-bg-image {
  display: none;
}

@media screen and (width < 1024px) {
  .tv-info-card {
    padding: 16px;
  }

  .tv-info-image {
    display: none;
  }

  .tv-info-details {
    grid-template-columns: 100px 1fr;
  }

  .tv-info-favorite {
    top: 20px;
    right: 16px;
  }

  .tv-info-bg-image {
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.2;
  }
}
