.movies-container {
  padding-top: 24px;
  padding-bottom: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

@media screen and (width < 1200px) {
  .movies-container {
    grid-template-columns: 1fr;
  }
}
